{%extends 'base.html'%}

{% block content %}
{{block.super}}
<style>
    .cat button{
        width: 150px;
    }
    .input-group button {
        background-color: green;
        margin-left: 10px;
    }
</style>
<div class="container">
    <div class='row'>
        <div class="col-sm-3 col-md-3">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by category" name="category_name"><br><br>
                    <button class="btn btn-default" type="submit"><i class="search"></i>Search</button>
                </div>
            </form>
            <div class='cat'>
            <h4>Categories available include;</h4>
<button type="button" class="btn btn-primary btn-lg btn-block">Nature</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Technology</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Waters</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Roads</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Sports</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Fashion</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Roads</button><br><br>
<button type="button" class="btn btn-primary btn-lg btn-block">Cars</button>
</div>
        </div>
        <div class="col-md-9  col-sm-9 col-md-4 col-lg-9">
            <div class="row">
                {% for image in image %}
                <div class=" col-sm-4 col-md-4 col-lg-4">
                    <div class="card my-3 ">
                        {% if image.screenshot %}
                        <a style="text-decoration: none;" href="" class="btn btn-outline-light btn-sm m-1">
                            <img class="image-thumbail" src="{{image.screenshot.url}}" width="235px" height="170px"
                                alt="Card image cap"></a>
                        {% endif %}

                        <div class="card-body">
                            <small>Name: {{ image.name }}</small>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}