{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body>
    <div class="container" style='margin-left: 145px;'>
        <div class='row'>
            {% for image in image %}
            <div class=" col-md-9">
                <div class="card my-3 ">
                    {% if image.screenshot %}
                    <a style="text-decoration: none;" href="#" class="btn btn-outline-light btn-sm m-1">
                        <img class="image-thumbail" src="{{image.screenshot.url}}" width="800px" height="400px"
                            alt="Card image cap"></a>
                    {% endif %}

                    <div class="card-body">
                        <small>Image Name: {{ image.name }}</small><br>
                        <small>Description: {{ image.description }}</small><br>
                        <small><a href="{{ image.link }}"><button type="button" class="btn btn-primary">Link to Image</button></a></small><br>
                        <small>Posted by: {{ image.editor}}</small><br>
                        <small>On: {{ image.posted_date }}</small>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}