{%extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="row ">
        <div class="col-md-4">
            {% if category_name%}
            <h2>Found {{ category_name|length }} of searched term {{message}}</h2>
            {% else %}
            <h2> Found 0 categories for the search term {{message}}</h2>
            {% endif %}
        </div>
        <div class="col-md-4">
        {% if category_name%}
        <small>Category:{{category_name}}</small>
        {% for Image in category_name.image_set.all %}
        <img src="{{category_name.screenshot.url}}">
        <h3>{{ image.name }}</h3>
        {%endfor%}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}